body {
  background-color: lightblue;
  color : white;
}

h1{
  color: white;
  text-align: center;
}
h1:hover   {
	color: black;
}

.Party_1 {
	
}
.circle {
	width: 100px;
	height: 100px;
	background-color: rgba(0, 250, 0, 0.2);
	right: 10px;
	top: 40px;
	text-align: center;
	flood-color: white
}
