body{
    background-image: linear-gradient( rgb(250, 174, 67), rgb(180, 224, 222),rgb(59, 179, 4));
}
 .grow { 
transition: all .5s ease-in-out; 
}

.breakdown{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.comparision{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.grow:hover { 
transform: scale(1.1); 
transform-origin: center;
}
.education { 
    background-image: linear-gradient(rgb(1, 38, 112),rgb(163, 255, 231));

 }
.public {
    background-image: linear-gradient(red,rgb(0, 140, 255));
}
.agriculture { 
    background-image: linear-gradient(green,yellow);
}
