body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: blanchedalmond;
}

div{
    border-color: #cccccc;
    border-width: 4px;
}

.breakdown{
    display: flex;
    justify-content: space-around;
}

.comparision{
    display: flex;
    justify-content: space-around;
}